workflows/deprecated_n8n/n8n-ai-chatbot-final.json
{
  "name": "WhatsApp AI Booking Agent (Final Tools)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-ai-incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-incoming",
      "name": "YCloud Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 300],
      "webhookId": "whatsapp-ai-incoming"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nlet sender = '';\nlet message = '';\n\nif (body.whatsappInboundMessage) {\n  sender = body.whatsappInboundMessage.from || '';\n  message = body.whatsappInboundMessage.text?.body || '';\n} else if (body.from && body.text) {\n  sender = body.from;\n  message = body.text.body || body.text;\n} else {\n  sender = body.from || body.sender || '';\n  message = body.message || body.text || 'Hola';\n}\n\nreturn {\n  sender: sender,\n  message: message\n};"
      },
      "id": "extract-data",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres el asistente de turnos de 'ColdBiz Dev'.\n\nTU OBJETIVO:\nAyudar al cliente a reservar un turno.\n\nREGLAS:\n1. Si preguntan horarios, usa la herramienta 'checkAvailability' con la fecha deseada (Formato YYYY-MM-DD).\n2. Si la fecha no es explícita (ej 'mañana'), calculala.\n3. Para reservar, usa la herramienta 'bookAppointment'. Pide primero: Nombre y Servicio.\n4. Sé amable y breve.\n5. Si no hay turnos, ofrece otro día.\n\nHOY ES: {{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.agent",
      "typeVersion": 1.7,
      "position": [540, 300]
    },
    {
      "parameters": {
        "modelId": "gemini-flash-latest",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "n8n-nodes-base.googleGeminiChatModel",
      "typeVersion": 1,
      "position": [540, 520],
      "credentials": {
        "googleGeminiApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "n8n-nodes-base.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [680, 520]
    },
    {
      "parameters": {
        "name": "checkAvailability",
        "description": "Checks available slots for a given date. Input: JSON { \"date\": \"YYYY-MM-DD\" }",
        "method": "POST",
        "url": "https://nyoodvdlrrkgibjbxmgj.supabase.co/rest/v1/rpc/get_available_slots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_date\": \"{{ JSON.parse($json.arguments).date }}\" }"
      },
      "id": "tool-availability",
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 1,
      "position": [840, 520]
    },
    {
      "parameters": {
        "name": "bookAppointment",
        "description": "Books an appointment. Input: JSON { \"name\": \"Juan\", \"date\": \"2026-02-01\", \"time\": \"10:00:00\", \"phone\": \"54...\" }",
        "method": "POST",
        "url": "https://nyoodvdlrrkgibjbxmgj.supabase.co/rest/v1/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_KEY"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_name\": \"{{ JSON.parse($json.arguments).name }}\",\n  \"customer_phone\": \"{{ JSON.parse($json.arguments).phone }}\",\n  \"appointment_date\": \"{{ JSON.parse($json.arguments).date }}\",\n  \"appointment_time\": \"{{ JSON.parse($json.arguments).time }}\",\n  \"start_time\": \"{{ JSON.parse($json.arguments).date }}T{{ JSON.parse($json.arguments).time }}\",\n  \"end_time\": \"{{ JSON.parse($json.arguments).date }}T{{ JSON.parse($json.arguments).time }}\" \n}"
      },
      "id": "tool-booking",
      "name": "Book Appointment",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 1,
      "position": [980, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ycloud.com/v2/whatsapp/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "d0eafac203bf8fe636a0294232f3930e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('Extract Message').item.json.sender }}\",\n  \"from\": \"5493586548065\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.output }}\" }\n}",
        "options": {}
      },
      "id": "send-response",
      "name": "Send YCloud Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "YCloud Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "AI Agent",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send YCloud Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
